/* transitions */
#welcome,
#home {
  position: fixed;
  inset: 0;
  transition: opacity 0.8s ease;
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

/* Navbar */
a:hover {
  color: white!important;
  background-color: black;
}


/* desktop hover */
@media (hover: hover) {
  .menu-item:hover .submenu {
    display: block;
  }
}

/* clic */
.menu-item.active .submenu {
  display: block;
}
