img {
    width: 100%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);

  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 9999;
  color: white;
  text-align: center;
}

#overlay-img{
    width: 350px;
}